.wrapper img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.selectedPage{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
}
.loader{
    width: 100px;
    height: 100px;
}