.formControl.error input,
.formControl.error textarea{
    border: 1px solid red;
}

.formControl input[type="checkbox"] {
    margin-left: 453px;
    margin-top: -19px;
    width: 18px;
    height: 18px;
}

.container{
    width: 550px;
    height: 300px;
    margin: 150px auto 0 auto; 
    text-align: center;  
}

.inputForm{
    margin: 15px 40px;
    text-align: center;
}

.inputForm input{
   padding: 10px;
   width: 100%;
   color: blueviolet;
   font-size: 20px;
   background: none;
}

.formsControls > .formControl > input {
    margin-top: -24px;
    width: 100%;
    height: 25px;
    border: 1px solid #E1E1E2;
    font: 14px sans-serif;
    padding-left: 10px;
    margin-left: 120px;
    /* position: absolute;  */
}

.btnSubmit {
    font-size: 16px;
    width: 98px;
    height: 39px;
    border: 1px solid #E1E1E2;
    background: url(../../../assets/images/grd-btn-norm.png);
    margin-left: 373px;
    cursor: pointer;
}

.rememberMe {
    position: absolute;
    margin-top: -26px;
    margin-left: 92px;
}

.loginPageForm {
    width: 500px;
    min-height: auto;
    margin: 0 auto;
}

.loginPageForm > h1 {
    margin-left: 197px; 
}

.loginPage{
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.formControl.error span  {
    color: red;
    margin-left: -447px;
    position: absolute;
    margin-top: -35px;
}

.formSummarError {
    border: 1px solid red;
    padding: 5px;
    color: red;
    position: absolute;
    margin-top: 38px;
    margin-left: 98px;
    width: auto;
    height: auto;
}

.captcha{
    width: 250px;
    height: 34px;
    border: 1px solid #E1E1E2;
    font: 14px sans-serif;
    padding-left: 10px;
    margin-left: -234px;
    margin-top: -41px;
    position: absolute;
}

.captchaImg{
    width: 200px;
    height: 150px;
    margin-left: 270px;
}

/* .email {
    margin-top: -24px;
    width: 250px;
    height: 25px;
    border: 1px solid #E1E1E2;
    font: 14px sans-serif;
    padding-left: 10px;
    margin-left: 120px;
    position: absolute;  
} */
/* .password {
    margin-top: 8px;
    width: 250px;
    height: 25px;
    border: 1px solid #E1E1E2;
    font: 14px sans-serif;
    padding-left: 10px;
    margin-left: 120px;
    position: absolute; 
} */